Project Name: Password Generator

System Requirements:
1. User shall be able to choose between QUICK and CUSTOM modes.
    1-2. QUICK Mode: The password generator creates a random password between 12-16 characters.
    1-2. CUSTOM Mode: The password generator creates a random password based on specific input from the user.
        1. Password Length
        2. Number of Uppercase Letters
        3. Number of Lowercase Letters
        4. Number of Special Characters
        5. Specific Characters to be Excluded
2. Other potential features:
            - Characters cannot repeat X times consecutively.
            - ???

Software Requirements:
    1. Maximum password length is 32 characters.
